.bgImg{
    
    background-image:linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.50)), url(../../assets/Home.png);
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}